

<div class="jumbotron">
  <h1>Welcome to Wanderlust</h1>

  <h2>
    Share a skill or learn a skill
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

