

<%= form_for User.new, {url:"/authentications", method:"post"} do |f| %>

	<%# f.label :email, "Email" %>
	<%= f.text_field :email, placeholder: "Email" %>

	<%# f.label :password, "Password" %>
	<%= f.password_field :password, placeholder: "Password"%>

	<%= f.submit "Sign in" %>

	<% end %>



<!-- <form class="form-inline" role="form"> -->
<%# form_for User.new, {url:"/authentications", method:"post"} do |f| %>

	<!-- <div class="form-group"> -->
	<%# f.label :email, "Email", class: "sr-only" %>
	<%# f.text_field :email, placeholder: "Email", class: "form-control" %>
	<!-- </div> -->

	<!-- <div class="form-group"> -->
	<%# f.label :password, "Password", class: "sr-only" %>
	<%# f.text_field :password, placeholder: "Password", class: "form-control" %>
	<!-- </div> -->

	<%# f.submit "Sign in", class: "btn btn-default myBtn" %>

	<%#end %>

<!-- </form> -->

