<% provide(:title, 'Sign up') %>

<%= render 'form' %>

<!-- <div class="form_container row">
<h1>Sign up</h1>


  <div class="form-group col-lg-8">
    <%# form_for(@user) do |f| %>

      <p>
      <%# f.label :name %><br />
	  <%# f.text_field :name %>
	  </p>

	  <p>
	  <%# f.label :email %><br />
	  <%# f.text_field :email %>
	  </p>

	  <p>
	  <%# f.label :password %><br />
	  <%# f.password_field :password %>
	  </p>

	  <p>
	  <%# f.label :password_confirmation, "Confirm Password" %><br />
	  <%# f.password_field :password_confirmation %>
	  </p>
	  

     <%# f.submit "Create my account" %>
    <%#end %>
  </div>
</div> -->

