<% provide(:title, 'All skills') %>

<div class="form_container">
	<h1>i got skills!</h1>
	<table class="table table-hover">
		<tr>
			<th>Skills</th>
			<th>Mentors</th>
			<th>Learners</th>
			<!-- <th>Show</th>
			<th>Edit</th>
			<th>Remove</th> -->
		</tr>

	<% @skills.each do |s| %>
		<tr>
			<td><%= link_to s.skill_name, skill_path(s.id) %></td>

		<td><% s.mentors.each do |m| %>
			<%= link_to m.user.email, mentors_path(id: m.id) %>
		<% end %></td>
			
		<td><% s.learners.each do |l| %>
			<%= link_to l.user.email, learners_path(id: l.id) %>
			<!-- <td><%# link_to "Show", s %></td>
			<td><%# link_to "Edit", { action: "edit", id: s.id},
			{method: :get} %></td>
			<td><%# link_to "Delete", { action: "destroy", id: s.id}, 
			{method: :delete, data:{confirm: "Are you sure?"}} %></td> -->
			<!-- Not sure why the edit path below doesnt work -->
			<!-- <td><%# link_to 'Edit', edit_skills_path(s) %></td> -->
		
		
	<% end %></td>
	</tr>
	<% end %>
	</table>
</div>
