<% provide(:title, @skill.skill_name) %>

<div class = "form_container">

<p>
	<%= @skill.skill_name %>
</p>

<p>
	<%= @skill.skill_description %>
</p>

<p>
	<!-- how do i show mentors and learners? -->
</p>

</div>