<% provide(:title, 'Edit learner') %>

<div class="form_container">

	<h1>Edit Learner</h1>

	<%= form_for :learner do |f| %>
		<p> 
			<%= f.label :notes, "Notes" %><br />
			<%= f.text_area :notes %>
		</p>
		<p>
			<%= f.submit "Update" %>	
		</p>

	<% end %>

</div>
