<% provide(:title, 'All Learners') %>

<div class="form_container">

<h1>Learners and Skills</h1>

	
<table class="table table-hover">

<tr>
	<th colspan="2">Learner</th>
	<th>Skills</th>
	<!-- <th>Show</th>
	<th>Edit</th>
	<th>Remove</th> -->
</tr>


<% @learners.each do |l| %>
<tr>
	<td colspan="2"><%= l.user.email %></td><br />

		<td><%= l.skill.skill_name %></td>
		<td><%# link_to 'Show', s %></td>
        <td><%# link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%# link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>

</table>
</div>