<% provide(:title, 'All Mentors') %>

<div class="form_container">

<h1>Mentors and Skills</h1>

	
<table class="table table-hover">

<tr>
	<th colspan="2">Mentors</th>
	<th>Skills</th>
	<!-- <th>Show</th>
	<th>Edit</th>
	<th>Remove</th> -->
</tr>


<% @mentors.each do |m| %>
<tr>
	<td colspan="2"><%= link_to m.user.email, m %></td><br />

		<td><%= m.skill.skill_name %></td>
		<td><%# link_to 'Show', s %></td>
        <td><%# link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%# link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>

</table>
</div>