 <% provide(:title, 'All Categories') %>

<div class="form_container">

	<h1>Categories and Skills</h1>

	<table class="table table-hover">
		<tr>
			<th colspan="2">Category</th>
			<th>Skills</th>
			<!-- <th>Show</th>
			<th>Edit</th>
			<th>Remove</th> -->
		</tr>

		<% @categories.each do |c| %>
		<tr>
			<td colspan="2">
			<%= link_to c.category_name, category_path(c.id) %>
			</td><br />

			<td></td><td></td><td></td><td></td></tr>
			<% c.skills.each do |s|%>
		<tr>
			<td></td><td></td>	
			<td><%=s.skill_name %></td>
			<!-- <td><%# link_to 'Show', s %></td>
	        <td><%# link_to 'Edit', {controller: "skills", action:"edit", id:s.id}, {method: :get} %></td>
	        <td><%# link_to 'Delete', {controller: "skills", action:"destroy", id:s.id}, 
	        {method: :delete} %></td> -->
		</tr>
			<% end %>
		<% end %>
	</table>
</div>