<% provide(:title, @category.category_name) %>

<div class="form_container">

	<h1><%= @category.category_name %></h1>


	
	<% @category.skills.each do |s| %>
		<div><%= s.skill_name %></div>
	

	<% end %>

</div>

<!-- create a form to show each skills in each category -->


<%#form_for @categories do |c| %>

<!-- <p>
<%# collection_select(:category, :skill_id, Skill.all, :id, :skill_name, prompt: true) %>
</p>

<p>
	<%#@category.skills.each do |s| %>
	<div><%# s.skill_name %></div>
</p> -->

<%# c.submit %>
