<% provide(:title, @category.category_name) %>

<div class="form_container">

	<h1><%= @category.category_name %></h1>


	
	<% @category.skills.each do |s| %>
		<div><%= s.skill_name %></div>
	

	<% end %>

</div>